* {
	box-sizing: border-box;
}

html {
    font-family: "Source Sans Pro";
}

/* Login Siden */
.main_login {
    margin: auto;
    text-align: center;
    padding: 2rem;
}

.form_login{
    margin:auto;
    border: 3px solid #f1f1f1;
    padding: 1rem 4rem;
    max-width: 25%;
    min-width: 25%;
    height: auto;
    font-family: "PT Sans";
}

.form_login h2{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.login_input{
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.login_btn {
    padding: 14px 20px;
    margin: 8px 0;
    background-color: green;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    font-family: "PT Sans";
    font-weight: 700;
    border-radius: 4px;
}

.login_btn:hover{
    opacity: 0.8;
}

.login_label {
}

.login_error_msg {
    color: red;
    text-align: center;
}

 /* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 13%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #145014; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1%;
    font-family: "PT Sans";
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: white;
    display: block;
	cursor: pointer;
}

.sidenav .big_nav {
    font-size: 1.7rem;
}

.sidenav .small_nav{
    font-size: 1.4rem;
    padding: 0 0 5px 25px;
}

#current {
	color: #A1B9A1;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #A1B9A1;
}

/* Style page content */
.main {
    margin-left: 13%; /* Same as the width of the sidebar */
    margin-top: 2%;
    padding: 0px 10px;
    width: 87%;
    font-family: "Source Sans Pro";
}

.main h2 {
    font-family: "PT Sans";
}

.main table {
    border-collapse: collapse;
    width: 100%;
}

.main table th {
    font-size: 1.3rem;
}

.main table td {
    font-size: 1rem;
}

.main table td, main table th {
    border: 1px solid #ddd;
    padding: 8px;    
}

#tdBtn {
    border: none;
    width: 0.1%;
}

#tdBtn input {
    margin: 8px 0;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}

#tdBtn a {
    text-decoration: none;
}

.main form {
    width: 25%;
    margin: 1%;
}

.main .form_container input, select, textarea {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    resize: vertical;
}

#n_date, #d_date {
    width: 100%;
}

.main form label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.main input[type=submit], [type=button] {
    background-color: #437343;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main input[type=submit]:hover{
    background-color: #A1B9A1;
}

.tlfBtn {
    margin: 10px auto;
    width: 30%;
}