* {
	box-sizing: border-box;
}

html {
    font-family: "Source Sans Pro";
}

/* Login Siden */
.main_login {
    margin: auto;
    text-align: center;
    padding: 2rem;
}

/* Login formen */
.form_login{
    margin: auto; /* Centreres på siden */
    border: 3px solid #f1f1f1;
    border-radius: 4px;
    padding: 1rem 4rem;
    max-width: 25%;
    min-width: 25%;
    height: auto;
    font-family: "PT Sans";
}

.form_login h2{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}

.login_input{
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.login_btn {
    padding: 14px 20px;
    margin: 8px 0;
    background-color: green;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    font-family: "PT Sans";
    border-radius: 4px;
}

.login_btn:hover{
    opacity: 0.8;
}

.login_label {
}

.login_error_msg { /* Fejlmeddelelse som skal være i rød */
    color: red;
    text-align: center;
}

 /* Navbar menu */
.sidenav {
    height: 100%; /* Skal fylde hele siden */
    width: 13%; /* Bredde på navbar */
    position: fixed; /* Bliver på dens plads når der scrolles */
    z-index: 1; /* Skal være forrest */
    top: 0; /* Skal blive i toppen */
    left: 0;
    background-color: #145014; /* Baggrundsfarve */
    overflow-x: hidden; /* Slå horisontalt scroll fra */
    padding-top: 1%;
    font-family: "PT Sans";
}

/* Navigations links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: white;
    display: block;
	cursor: pointer;
}

.sidenav .big_nav {
    font-size: 1.7rem;
}

.sidenav .small_nav{
    font-size: 1.4rem;
    padding: 0 0 5px 25px;
}

#current {
	color: #A1B9A1;
}

/* Skift af farve ved hover af links i navbar */
.sidenav a:hover {
    color: #A1B9A1;
}

/* Main indhold */
.main {
    margin-left: 13%; /* Samme bredde som navbar */
    margin-top: 2%;
    padding: 0px 10px;
    width: 87%;
    font-family: "Source Sans Pro";
}

.main h2 {
    font-family: "PT Sans";
}

.main table {
    border-collapse: collapse;
    width: 100%;
}

.main table th {
    font-size: 1rem;
}

.main table td {
    font-size: 1rem;
}

.main table td, main table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#btn {
    float: left;
    display: inline-block;
}

#tdBtn {
    border: none;
    width: 0.1%;
}

#tdBtn input {
    margin: 8px 0;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}

#tdBtn a {
    text-decoration: none;
}

.main form {
    width: 25%;
    margin: 1%;
}

.main .form_container input, select, textarea {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    resize: vertical;
    font-family: "PT Sans";
    font-size: 1rem;
}

#n_date, #d_date {
    width: 100%;
}

.main form label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 1.1rem;
}

.main input[type=submit], [type=button] {
    background-color: #437343;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "PT Sans";
    font-size: 1rem;
}

.main input[type=submit]:hover, [type=button]:hover{
    background-color: #A1B9A1;
}

.tlfBtn {
    margin: 10px auto;
    width: 40%;
}
